@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fb7413;
  /* Neutral */
  --white: #ffffff;
  --Light-Grey: #959eac;
  --Medium-Grey: #7c8798;
  --Dark-Blue: #252d37;
  --Dark-Blue-2: #31363b;
  --Very-Dark-Blue: rgb(18, 20, 23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

.very-dark-blue {
  background-color: var(--Very-Dark-Blue);
}

.dark-blue {
  background-color: var(--Dark-Blue);
}

.Dark-Blue-2 {
  background-color: var(--Dark-Blue-2);
}

.bg-primary-white {
  background-color: var(--white);
}

.primary {
  background-color: var(--primary);
}

.bg-light-Grey {
  background-color: var(--Light-Grey);
}

.bg-medium-Grey {
  background-color: var(--Medium-Grey);
}